<%= form_for([:admin, @reservation]) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_club_id %><br />
    <%= f.number_field :book_club_id %>
  </div>
  <div class="field">
    <%= f.label :patron_id %><br />
    <%= f.number_field :patron_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :status_flag %><br />
    <%= f.text_field :status_flag %>
  </div>
  <div class="field">
    <%= f.label :returned_datetime %><br />
    <%= f.datetime_select :returned_datetime %>
  </div>
  <div class="field">
    <%= f.label :reservation_staff_notes %><br />
    <%= f.text_area :reservation_staff_notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
