<h1>Listing book_clubs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Sub title</th>
    <th>Isbn</th>
    <th>Author</th>
    <th>Thumbnail url</th>
    <th>Description</th>
    <th>Book staff notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_clubs.each do |book_club| %>
  <tr>
    <td><%= book_club.title %></td>
    <td><%= book_club.sub_title %></td>
    <td><%= book_club.isbn %></td>
    <td><%= book_club.author %></td>
    <td><%= book_club.thumbnail_url %></td>
    <td><%= book_club.description %></td>
    <td><%= book_club.book_staff_notes %></td>
    <td><%= link_to 'Show', book_club %></td>
    <td><%= link_to 'Edit', edit_book_club_path(book_club) %></td>
    <td><%= link_to 'Destroy', book_club, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book club', new_book_club_path %>
